name: Build and Deploy to Azure

on:
  push:
    branches:
      - main
      # - release

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    env:
      ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
      ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
      ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
      ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Log in to Azure
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: 1.5.7


    - name: Terraform Init (Dev)
      if: github.ref == 'refs/heads/main'
      run: terraform init
      working-directory: ./terraform/dev

    - name: Import existing resource group
      run: terraform import azurerm_resource_group.rg "/subscriptions/${{ env.ARM_SUBSCRIPTION_ID }}/resourceGroups/BM_A1CICDProject"
      working-directory: ./terraform/dev

    - name: Import existing App Service Plan
      run: terraform import azurerm_app_service_plan.plan "/subscriptions/${{ env.ARM_SUBSCRIPTION_ID }}/resourceGroups/BM_A1CICDProject/providers/Microsoft.Web/serverFarms/todo-api-plan"
      working-directory: ./terraform/dev

    - name: Import existing Container Registry
      run: terraform import azurerm_container_registry.acr "/subscriptions/${{ env.ARM_SUBSCRIPTION_ID }}/resourceGroups/BM_A1CICDProject/providers/Microsoft.ContainerRegistry/registries/bma1pregproject"
      working-directory: ./terraform/dev
    
    # - name: Import existing App Service
    #   run: terraform import azurerm_app_service.prod-webapp "/subscriptions/${{ env.ARM_SUBSCRIPTION_ID }}/resourceGroups/BM_A1CICDProject-prod/providers/Microsoft.Web/sites/todo-api-webapp-prod"
    #   working-directory: ./terraform/prod
      
    # - name: Import existing Cosmos DB account
    #   run: terraform import azurerm_cosmosdb_account.prod-cosmos "/subscriptions/${{ env.ARM_SUBSCRIPTION_ID }}/resourceGroups/BM_A1CICDProject-prod/providers/Microsoft.DocumentDB/databaseAccounts/bma1cosmos"
    #   working-directory: ./terraform/prod

  #  - name: Import existing Cosmos DB SQL database
   #   run: terraform import azurerm_cosmosdb_sql_database.prod-db "/subscriptions/${{ env.ARM_SUBSCRIPTION_ID }}/resourceGroups/BM_A1CICDProject-prod/providers/Microsoft.DocumentDB/databaseAccounts/bma1cosmos/sqlDatabases/todo-db"
    #  working-directory: ./terraform/prod

   # - name: Import existing Cosmos DB SQL container
    #  run: terraform import azurerm_cosmosdb_sql_container.prod-container "/subscriptions/${{ env.ARM_SUBSCRIPTION_ID }}/resourceGroups/BM_A1CICDProject-prod/providers/Microsoft.DocumentDB/databaseAccounts/bma1cosmos/sqlDatabases/todo-db/containers/todo-items"
     # working-directory: ./terraform/prod

    - name: Terraform Plan (Dev)
      if: github.ref == 'refs/heads/main'
      run: terraform plan -out=tfplan
      working-directory: ./terraform/dev

    - name: Terraform Apply (Dev)
      if: github.ref == 'refs/heads/main'
      run: terraform apply -auto-approve tfplan
      working-directory: ./terraform/dev

    # - name: Terraform Init (Prod)
    #   if: github.ref == 'refs/heads/release'
    #   run: terraform init
    #   working-directory: ./terraform/prod

    # - name: Terraform Plan (Prod)
    #   if: github.ref == 'refs/heads/release'
    #   run: terraform plan -out=tfplan
    #   working-directory: ./terraform/prod

    # - name: Terraform Apply (Prod)
    #   if: github.ref == 'refs/heads/release'
    #   run: terraform apply -auto-approve tfplan
    #   working-directory: ./terraform/prod

    - name: Build and push Docker image to ACR
      uses: azure/docker-login@v1
      with:
        login-server: bma1pregproject.azurecr.io
        username: ${{ secrets.ACR_USERNAME }}
        password: ${{ secrets.ACR_PASSWORD }}

    - name: Build and push image
      run: |
        docker build -t bma1pregproject.azurecr.io/todo-backend-api:${{ github.sha }} ./backend
        docker push bma1pregproject.azurecr.io/todo-backend-api:${{ github.sha }}

    - name: Build Flutter Web frontend Docker image
      run: docker build -t bma1pregproject.azurecr.io/fancy-todo-frontend:latest -f Dockerfile .
      working-directory: ./fancy_todo

    - name: Push frontend Docker image to ACR
      run: docker push bma1pregproject.azurecr.io/fancy-todo-frontend:latest
      
    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v2
      with:
        app-name: todo-api-carmen
        images: bma1pregproject.azurecr.io/todo-backend-api:${{ github.sha }}
